.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 61px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #f5f5f5;
}

.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 60px;
  width: 100%;
  padding: 0 20%;
  background-color: #544e61;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 40px;
}

.input {
  display: flex;
  width: 240px;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  border: 1px solid #f5f5f5;
  background-color: #f2f2f2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  background: #e2ece9;
  border: 1px solid #ffffff;
  border-radius: 30px;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.options button {
  border: none;
  background-color: #544e61;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
}

.games_container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
}

.games_content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 150px;
  background-color: #f8f7ff;
}

.game_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #ceeddb;
  margin: 10px;
  padding: 10px;
}

.game_card h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #544e61;
}

.game_card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #544e61;
}

.game_card p:last-child {
  background-color: red;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 4px;
  cursor: none;
  color: #fff;
}

.game_card p:last-child.disponivel {
  background-color: #85baa1;
  cursor: pointer;
}

.game_card p:last-child:hover {
  background-color: #006080;
}

/* applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .nav {
    width: 100vw;
    margin: 0 20px;
  }
  .input {
    width: 30vw;
    height: 15px;
  }

  .options button {
    width: 80px;
    font-size: 14px;
    line-height: 16px;
  }
}
